<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>SystemAudioVolume</key>
	<data>
	wA==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	Tw==
	</data>
	<key>backlight-level</key>
	<data>
	4gM=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	KgqHgAAAAACAFDz4YmWgFw==
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-apple-recovery</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjRCMjg2MDRCLTJD
	MjQtNDZBNi1CNTg5LTUxMTk4OUU3RDQ4MTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMXMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxNQlAxNDEuZmQ8L3N0cmluZz48L2RpY3Q+PC9hcnJheT4A
	</data>
	<key>efi-apple-recovery-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAAAAAAAAQBKgABAAAAKAAAAAAAAAAAQAYAAAAA
	AEtgKEskLKZGtYlRGYnn1IECAgQEQABcAEUARgBJAFwAQQBQAFAATABFAFwARgBJAFIA
	TQBXAEEAUgBFAFwATQBCAFAAMQA0ADEALgBmAGQAAAB//wQA
	</data>
	<key>efi-backup-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjAyOTUxMzlELTcx
	MzgtNDYyMC1CRjJELTA3QzBGOTk2QUU4QTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMnMyPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEIyMDY5MTkyLTBC
	QUUtNDQ5Qy05OUJELTEwMDNGMTYyQjU4MlxTeXN0ZW1cTGlicmFyeVxDb3JlU2Vydmlj
	ZXNcYm9vdC5lZmk8L3N0cmluZz48L2RpY3Q+PC9hcnJheT4A
	</data>
	<key>efi-backup-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAAAAAAAAQBKgACAAAAKEAGAAAAAAAgzXQKAAAA
	AGYsDWsJellAugnz1HY9i5sCAgQDJAD3/HS+fAvzSZFHAfQELmhCnROVAjhxIEa/LQfA
	+ZauigQEmgBcAEIAMgAwADYAOQAxADkAMgAtADAAQgBBAEUALQA0ADQAOQBDAC0AOQA5
	AEIARAAtADEAMAAwADMARgAxADYAMgBCADUAOAAyAFwAUwB5AHMAdABlAG0AXABMAGkA
	YgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0AC4AZQBm
	AGkAAAB//wQA
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjZCMEQyQzY2LTdB
	MDktNDA1OS1CQTA5LUYzRDQ3NjNEOEI5Qjwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAA//8AAAQBKgACAAAAKEAGAAAAAAAgzXQKAAAA
	AGYsDWsJellAugnz1HY9i5sCAgQDJAD3/HS+fAvzSZFHAfQELmhCkpEGsq4LnESZvRAD
	8WK1gn//BAA=
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAHA==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-CLKH-{clh</key>
	<data>
	AABwgAABGUA=
	</data>
	<key>fakesmc-key-CLKT-ui32</key>
	<data>
	AAESBw==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	CbDwAA==
	</data>
	<key>fakesmc-key-HI0N-ui8</key>
	<data>
	EA==
	</data>
	<key>fakesmc-key-HI1N-ui8</key>
	<data>
	EA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSDW-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPC-ui8</key>
	<data>
	Eg==
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTS-ui8</key>
	<data>
	CA==
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-NATJ-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-NATi-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-NTOK-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-QENA-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	MjAxN21icAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AkMPAAAH
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajEzMGEAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	UXVvY1RydW5n4oCZcyBNYWNCb29rIFBybw==
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW46MjUy
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAA//8AAAQBKgACAAAAKEAGAAAAAAAgzXQKAAAA
	AGYsDWsJellAugnz1HY9i5sCAgQDJAD3/HS+fAvzSZFHAfQELmhCkpEGsq4LnESZvRAD
	8WK1gn//BAA=
	</data>
</dict>
</plist>